@page
@model ExeterUniTask.Web.Pages.Questionnaires.Index

@{
    ViewBag.Title = "Questionnaires";
}

<div>
    <div class="text-center">
        <h1>Questionnaires!</h1>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-page="Upsert">Add</a>
</div>