@model ExeterUniTask.Model.Question
<div class="col-6">
    <div class="card border-primary mt-1 mb-1">
        <div class="card-header">@Model.Title</div>
        <div class="card-body">@Model.Text</div>
    </div>
</div>